#social-links-wrapper {
  display: inline-block;
  left: 0;
  top: 35%;
  position: fixed;
}

#social-links-wrapper ul {
  padding: 20px;
  margin: 0;
  text-align: center;
}

.social-svg {
  fill: #8D4F39;
  transition: all .2s ease-in-out;
}

.social-svg:hover {
 transform: scale(1.5);
 cursor: pointer;
}

#email-svg {
  width: 45px;
  height: 29.46px;
}

li {
  padding: 5px;
  margin: auto;
}

#resume-svg {
  width: 40px;
  height: 40px;
}

#dribbble-svg {
  width: 30px;
  height: 30px;
}