#about-wrapper {
  display: flex;
  margin: auto;
  width: 70%;
}

.section {
  width: 40%;
  background: yellow;
  margin: auto;
}
#about-me {
  background: blue;
}

#looking-for {
  background: red;
}