#about-wrapper {
  display: block;
  margin: auto;
  width: 70%;
}

.section {
  width: 40%;
  margin: 0 auto;
}

.about-top-section {
  display: flex;
  margin-bottom: 50px;
}

.about-bottom-section {
  display: flex;
}


#skills-content {
  text-align: justify;
}

.list {
  text-align: justify;
}

.list ul {
  padding: 5px 0;
  text-align: justify;
  list-style: circle;
}

.list ul li {
  list-style: none;
}

.list ul li::before {
  content: "\2022";
  color: #8D4F39;
  font-weight: bold;
  display: inline-block;
  width: 1em; 
  margin-left: -1em;
}

.skill-container {
  border: #8D4F39 2px solid;
  background: rgb(141, 79, 57, 0.1);
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  color: #000000;
  margin: 5px;
}