@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
html,
body,
header,
#app,
.body-box {
  height: 100%;
  background-color: #F6F7FB;
  font-size: 100%;
  color: #242729;
  display: block;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
font-family: 'Open Sans', sans-serif;}

a {
  text-decoration-style: none !important;
}

a:hover {
  text-decoration-style: none !important;
}

.section-title {
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 3px solid #8D4F39;
  display: inline-block;
  padding: 5px 5px 2px 0; 
}