.tab-border {
  margin-bottom: 20px; 
}

.card-container {
  padding: 10px;
}
.work-page-container {
  width: 70%;
  margin: auto;
}
.work-page-cards {
  height: auto;
  border-left: 15px solid #8d4f39;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  border-radius: 3px;
  width: 100%;
  transition: all .2s ease-in-out;
  margin-top: 20px;
}

.work-page-cards:hover {
  transform: scale(1.02);
}

.card-title {
  font-weight: 600;
  font-size: 18px;
}

.card-content {
  font-size: 13px;
}

dl {
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  font-weight: bold;
}
dt::after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

.tab {
  margin-bottom: 15px;
}


.tab-titles {
  margin-bottom:  0px;
  font-weight: 600;
  display: inline-block;
  padding: 5px 5px 2px 0;
  margin-right: 20px;
}

.card-links {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.card-links li {
  margin: 0;
}

#link-icon {
  width: 20px;
  height: 20px;
}

#code-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
